@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: "GmarketSansMedium";
  color: #374151;
}

section {
  max-width: 1280px;
  min-height: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
